@model Salones_empresariales_xyz.Models.ViewModels.EventoViewModel

@{
    ViewBag.Title = "REGISTRO DE NUEVO EVENTO";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo", "Evento", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12" style="text-align:center;padding:5px">
            <div>
                @Html.LabelFor(d => d.Fecha)
                @Html.EditorFor(d => d.Fecha, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Fecha, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.CantidadPersonas)
                @Html.TextBoxFor(d => d.CantidadPersonas, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.CantidadPersonas, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Motivo)
                @Html.TextBoxFor(d => d.Motivo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Motivo, null, new { @class = "red" })

                @*@Html.LabelFor(d => d.Motivo)
                <select id="EdadSelect" class="form-control" runat="server">
                    <option value=1>Evento empresarial</option>
                    <option value=2>Despedida empresa</option>
                    <option value=3>Desayuno comercial</option>
                    <option value=4>Almuerzo</option>
                </select>*@
            </div>
            <div>
                @Html.LabelFor(d => d.Observaciones)
                @Html.TextBoxFor(d => d.Observaciones, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Observaciones, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Estado)
                @Html.TextBoxFor(d => d.Estado, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Estado, null, new { @class = "red" })

                @*@Html.LabelFor(d => d.Estado)
                <select id="EdadSelect" class="form-control" runat="server">
                    <option value=1>No confirmado</option>
                    <option value=2>Confirmado</option>
                </select>*@
            </div>
            <div>
                @Html.LabelFor(d => d.ClienteId)
                @Html.TextBoxFor(d => d.ClienteId, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.ClienteId, null, new { @class = "red" })
            </div>

        </div>
        <div class="row" style="text-align:center;padding:5px">
            <a href="~/Evento/Index" class="btn btn-primary">VOLVER</a>
            <input value="GUARDAR" type="submit" class="btn btn-success" />
        </div>
    </div>
}


