@model Salones_empresariales_xyz.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "REGISTRO DE NUEVO CLIENTE";
}



@using (Html.BeginForm("Editar", "Cliente", FormMethod.Post))
{
    <div class="row">
        <br />
        <br />
        <br />
        <div class="col-md-12" style="text-align:center;padding:5px">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Identificacion)
                @Html.TextBoxFor(d => d.Identificacion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Identificacion, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.NombreCompleto)
                @Html.TextBoxFor(d => d.NombreCompleto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.NombreCompleto, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Telefono)
                @Html.TextBoxFor(d => d.Telefono, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Telefono, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Correo)
                @Html.TextBoxFor(d => d.Correo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Correo, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Departamento)
                @Html.TextBoxFor(d => d.Departamento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Departamento, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Ciudad)
                @Html.TextBoxFor(d => d.Ciudad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Ciudad, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Edad)
                @Html.TextBoxFor(d => d.Edad, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Edad, null, new { @class = "red" })
            </div>
        </div>
        <div class="row" style="text-align:center;padding:5px">
            <a href="~/Cliente/Index" class="btn btn-primary">VOLVER</a>
            <input value="GUARDAR" type="submit" class="btn btn-success" />
        </div>
    </div>
}
